.upside-arrow {
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  @include transition;
  
  .btn-upside{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1.2rem;
    
    &:hover, &:active, &:focus {
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}