.portfolio-modal {
  .modal-content {
    border: none;
  }

  .modal-body {
    color: $primary;
    font-size: 0.9rem;
    text-align: center;
    @include padding-x(4vw);

    .modal-close {
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      color: adjust-color($secondary, $alpha: -0.2);
      background-color: transparent;
      margin-left: auto;
      font-size: 2.5rem;
      @include transition;
      border-radius: 0.2rem;

      &:hover,
      &:focus,
      &:active {
        color: $secondary;
        background-color: adjust-color($secondary, $alpha: -0.7);
        @include transition;
      }
    }

    img.img-container {
      border-radius: 0.3rem;
      @include set-margin("bottom", 2rem);
    }

    .modal-title {
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .modal-footer {
    border-top: none;
    @include center-align;
    @include set-margin("bottom", 1rem);

    button.btn.btn-secondary {
      color: $textMainColor;
      display: flex;
      align-items: center;

      span.bi {
        font-size: 1.2rem;
      }

      span {
        font-size: 0.8rem;
        font-weight: 700;
      }
    }
  }
}
