footer{
  background-color: $primary;
  .footer-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include section-padding($section-padding);
    @include center-align;
    
    .footer-item {
      text-align: center;
      @include set-margin("bottom", 3rem);

      &:last-child{
        @include set-margin("bottom", 0)
      }

      .title{
        @include set-margin("bottom", 1.2rem);
      }

      p {
        @include set-margin("bottom",0);
        font-weight: 500;

        a{
          cursor: pointer;
        }
      }
    }
  }
  .footer-copy {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 0.75rem;
    font-weight: 500;
  }
}

@include media-breakpoint-up(md) {
  footer {
    .footer-body{
      flex-direction: row;
      align-items: flex-start;

      .footer-item{
        margin-right: 1rem;
        
        &:last-child{
          margin-right: 0rem;
        }

        .title{
          @include set-margin("bottom", 1.5rem);
        }
      }

      .footer-item {
        flex-basis: 32%;
      }
    }
  }
}