.gallery {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);

  .gallery-item {
    width: 100%;
    position: relative;
    overflow: hidden;
    @include transition;
    border-radius: 0.3rem;

    img {
      object-fit: cover;
      width: 100%;
      height: 200px;
    }

    &:hover, &:focus{
      transform: scale(1.1);
      @include transition;
      
      & .overlay {
        @include transition;
        transform: translate(0);
      }
    }

    .overlay {
      background-color: adjust-color($secondary, $alpha: -0.4);
      position:absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(100%);
      cursor: pointer;
      @include transition;

      button{
        font-size: 5rem;
        color: $textMainColor;
        border: none;
        background-color: transparent;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
