.hero{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-title{
      font-weight: 800;
      text-transform: uppercase;
    }

    .hero-skills span:not(:last-child)::after{
      content:"-";
      margin: 0 4px;
    }

    .hero-text{
      font-weight: 500
    }
  }
}