.navbar {
    &.navbar-dark-brand {

        &.bg-dark-brand{
            background-color: $primary;
            
        }

        a.navbar-brand {
            color:white;
            text-transform: uppercase;
            font-weight: 700;

            &:hover, &:selected {
                color: $textMainColor;
            }
        }

        .navbar-toggler {
            background-color: $secondary;
            padding: 0.8rem 1rem;

            span{
                color: $textMainColor;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 0.9rem;
            }
        }

        .nav-item {
            a {
                text-transform: uppercase;
                color: $textMainColor;
                font-size: 0.9rem;
                font-weight: 700;
            }
        }
    }
}