footer
  .footer-body.container
    .footer-item
      h3.title location
      p 2215 John Daniel Drive
      p Clark, MO 65243
    .footer-item
      h3.title around the web
      div.social-media
        a.social-media-item.outline(href="#")
          span.bi.bi-facebook
        a.social-media-item.outline(href="#")
          span.bi.bi-twitter
        a.social-media-item.outline(href="#")
          span.bi.bi-linkedin
        a.social-media-item.outline(href="#")
          span.bi.bi-globe
    .footer-item
      h3.title about freelancer
      p Freelance is a free to use, MIT licensed Bootstrap theme created by #[a.link-secondary Start Bootstrap].
  .footer-copy
    p.center-align.py-3.m-0 Copyright &copy; Your Website 2021