header#header.mb-3
  nav.navbar.navbar-expand-lg.navbar-dark-brand.bg-dark-brand
      div.container-fluid.container
        a.navbar-brand(href="/") Start Bootstrap
        button.navbar-toggler.d-md-flex.d-lg-none.align-items-center(type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span MENU
          span.bi-list.bold-icon
        div#mainNavbar.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.text-center
            li.nav-item
              a(href="#", class="nav-link") portfolio
            li.nav-item
              a(href="#", class="nav-link") about
            li.nav-item
              a(href="#", class="nav-link") contact