extends layout.pug

block content
  //- Hero section
  section.hero
    div.hero-content
      div.col-5.col-sm-4
        img.rounded-circle.img-thumbnail(src="/assets/images/avatar.jpg" alt="Avatar image")
      h1.hero-title.fs-1.my-3 start bootstrap
      div.side-lines.mb-4
        span.bi.bi-star-fill.fs-2
      div.hero-skills
        span.hero-text Graphic Artist
        span.hero-text Web Designer
        span.hero-text Illustrator
  //- Portfolio section
  section.portfolio
    div.container
      h2.title.dark portfolio
      div.side-lines.dark.portfolio-subtitle
        span.bi.bi-star-fill.fs-4
      div.gallery.mb-1
        div.gallery-item
          div.overlay(data-bs-toggle="modal" data-bs-target="#portfolioModal")
            button.bi.bi-plus
          img(src="https://picsum.photos/600/400?random=1", alt="representative image")
        div.gallery-item
          div.overlay(data-bs-toggle="modal" data-bs-target="#portfolioModal")
            button(class="bi bi-plus")
          img(src="https://picsum.photos/600/400?random=2", alt="representative image")
        div.gallery-item
          div.overlay(data-bs-toggle="modal" data-bs-target="#portfolioModal")
            button(class="bi bi-plus")
          img(src="https://picsum.photos/600/400?random=3", alt="representative image")
        div.gallery-item
          div.overlay(data-bs-toggle="modal" data-bs-target="#portfolioModal")
            button(class="bi bi-plus")
          img(src="https://picsum.photos/600/400?random=4", alt="representative image")
        div.gallery-item
          div.overlay(data-bs-toggle="modal" data-bs-target="#portfolioModal")
            button(class="bi bi-plus")
          img(src="https://picsum.photos/600/400?random=5", alt="representative image")
        div.gallery-item
          div.overlay(data-bs-toggle="modal" data-bs-target="#portfolioModal")
            button(class="bi bi-plus")
          img(src="https://picsum.photos/600/400?random=6", alt="representative image")

  section.about
    div.container
      h2.title about
      div.side-lines.mb-4
        span.bi.bi-star-fill.fs-4
      div.about-body
        p Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS and JavaScript as well as optional SASS stylesheets for easy customization.
        p You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional! 
      button.btn.btn-outline-accent
        span.bi.bi-cloud-download-fill
        span Free Download!

  section(class="contact")
    div(class="container")
      h2(class="title dark") contact me
      div(class="side-lines dark mb-4")
        span(class="bi bi-star-fill fs-4")
      form(action="#" onsubmit="return false;")
        div
          label(for="contact_name" class="form-label") Name*
          input#contact_name(type="text" name="contact[name]" class="form-control" required)
        div
          label(for="contact_email" class="form-label") Email Address*
          input#contact_email(type="email" name="contact[email]" class="form-control" required)
        div
          label(for="contact_phone" class="form-label") Phone Number
          input#contact_phone(type="tel" name="contact[phone]" class="form-control")
        div
          label(for="contact_message" class="form-label") Message*
          textarea#contact_message(name="contact[message]" rows="4" class="form-control" required)
        div
          input(type="submit" class="btn btn-secondary center-align", value="Send")

  //- Modal
  div#portfolioModal.modal.portfolio-modal.fade(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="portfolioLabel", aria-hidden="true")
    div.modal-dialog.modal-lg.modal-dialog-centered
      div.modal-content
        div.modal-body
          button(type="button", class="bi bi-x modal-close", data-bs-dismiss="modal", aria-label="Close")
          h3.modal-title log cabin
          div.side-lines.dark.mb-4
            span.bi.bi-star-fill.fs-4
          img.img-fluid.img-container(src="")
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis incidunt culpa cumque, modi omnis adipisci nihil nostrum soluta unde? Similique architecto ad iusto eum corrupti expedita iste illum non minima.
        div.modal-footer
          button.btn.btn-secondary(data-bs-dismiss="modal") 
            span.bi.bi-x
            span Close Window