html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Portfolio | LPP
    link(rel='stylesheet',href='assets/styles/style.css')
    script(src='assets/js/main.js') 
  body
    include partials/navbar.pug
    block content
    include partials/footer.pug
    .upside-arrow
      a.btn.btn-upside(href="#header")
        span.bi.bi-arrow-up-short
