// Custom variables
$primary: #2d3e50;
$secondary: #1bbc9b;
$accent: white;
$textMainColor: white;
$font-family-sans-serif: "Montserrat", system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$section-padding: 4rem;

// Mixins
@mixin transition {
  transition: all ease 0.1s;
  // transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
@mixin set-margin($side, $value){
  margin-#{$side}: $value;
}
@mixin left-align {
  @include set-margin("right", auto)
}
@mixin right-align {
  @include set-margin("left", auto)
}
@mixin center-align{
  @include left-align;
  @include right-align;
  text-align: center;
}
@mixin padding-x($amount){
  padding-left: $amount;
  padding-right: $amount;
}
@mixin section-padding($amount){
  padding-top: $amount;
  padding-bottom: $amount * 1.4;
}

// Imports
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-icons/font/bootstrap-icons";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900");
// Custom components
@import "./components/navbar.scss";
@import "./components/hero.scss";
@import "./components/gallery.scss";
@import "./components/c_modal.scss";
@import "./components/footer.scss";
@import "./components/arrow_up.scss";

// Custom main style
body {
  background-color: $secondary;
  color: $textMainColor;
  margin: 0;
  scroll-behavior: smooth;

  section {
    @include section-padding($section-padding);
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
}
// Section styles
// Portfolio
.portfolio {
  background-color: $accent;
  color: $primary;

  .portfolio-subtitle{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@include media-breakpoint-up(md) {
  section .container{
    max-width: 800px;
  }
}

// about
.about {
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-body{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
}
@include media-breakpoint-up(md){
  .about {
    .about-body{
      flex-direction: row;
      gap: 1.2rem;
      font-size: 1rem;

      & > * {
        flex: 1 1 50%;
      }
    }
  }
}

// Contact
.contact {
  background-color: $accent;
  color: $primary;

  form {
    label {
      font-weight: 600;
      font-size: 0.8rem;
      margin:0
    }

    input:not([type=submit]), textarea {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid lightgray;
      @include set-margin("bottom", 1rem);
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      resize: none;

      &:focus, &:active {
        border-radius: 0.3rem;
      }
    }
  }

}

// Other styles
// Utilities
.hide {
  opacity: 0;
  @include transition;
}
.hidden {
  display: none;
  @include transition;
}
// Title
.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: $accent;

  &.dark {
    color: $primary
  }
}
.center-align {
  display: block;
  @include center-align();
}
// Side lines
.side-lines {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    width: 75;
    height: 3px;
    border-radius: 2px;
    background-color: $textMainColor;
  }

  &.dark {
    color: $primary;
    
    &::before,
    &::after {
      background-color: $primary;
    }
  }

  &::before {
    margin-right: 1rem;
  }
  &::after {
    margin-left: 1rem;
  }
}
// Button
.btn{
  padding: 0.8rem 1rem;
  &.btn-outline-accent{
    border: 1px solid $accent;
    color: $accent;

    .bi{
      margin-right: 0.5rem;
    }

    &:hover, &:active, &:focus{
      background-color: adjust-color($accent, $alpha: -0.9);
    }
  }

  &.btn-secondary{
    color: $accent;
    font-weight: 600;
  }
}
// Social media
.social-media{
  display: flex;
  justify-content: center;

  .social-media-item {
    margin-right: 0.6rem;
    font-size: 1.2rem;

    &:last-child {
      margin-right: 0;
    }
    &.outline {
      border-radius: 50%;
      border: 2px solid $accent;
      padding: 0.8rem;
      @include transition;
  
      a, * {
        color: $accent;
      }

      &:hover, &:active, &:hover {
        background-color: adjust-color($secondary, $alpha: -0.2);
        @include transition;
      }
    }
  }

}